.title {
    text-align: center;
}

.title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: rgb(229, 229, 231);;
}

button {
    margin: 15px;
}

:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }

.grid-container {
    display: flex;
    justify-content: center;

}

#grid {
    width: 800px;
    height: 800px;
    display: grid;
    grid-gap: 1px;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
/*grid repeat*/
}

.square {
    background: rgb(187, 170, 170);

}


